
.CardList__container {
    display: flex;           /* establish flex container */
    flex-direction: row;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
}


.CardList__item {
    width: 100px;
    height: 100px;
    margin: 20px;
    background: gray;
    color: white;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
}

.CardList__image {
   width: 100px;
    height: 100px;
}