.App__search {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.App__list {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  height: 500px;
  overflow: auto;
}

.App__cards {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}


.my-2 {
  margin-top: 2em;
  margin-bottom: 2em;
}
